<h1>Orders</h1>

{{#if orders.length}}
    {{#each orders}}
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="card">
                    <span class="card-title">
                        Order <small>{{id}}</small>
                    </span>
                    <p>Date: {{date}}</p>
                    <p><em>{{name}}</em> ({{email}})</p>
                    <ol>
                        {{#each courses}}
                            <li>
                                {{title}} (x <strong>{{count}}</strong>)
                            </li>
                        {{/each}}
                    </ol>
                    <hr/>
                    <p>Cost: <span class="price">{{price}}</span></p>
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    <p>orders empty</p>
{{/if}}
